body {
	background-image: url(../img/05.jpg);
}


h2 {
	font-size: 36px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 25px;
	
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	background-size: 49px;
}

.container {
	padding-bottom: 50px;
}

.containerS p {
	margin: 0px;
	padding: 3px;
	font-size: 16px;
}

.teste {
	position: relative;
}

.teste > #check {
	width: 20px;
	margin-top: 12px;
	margin-bottom: 10px;
}

.teste > #termCompromise {
	position: absolute;	
	width: 200px;
	margin-left: 30px;
	margin-top: 15px;
}

.teste #testeCompromise a {
	text-decoration: none;
}

#button {
	border: 1px solid #0099FF;
	border-radius: 5px;
	position: absolute;
	width: 150px;	
	height: 40px;
	right: 0px;
	margin-top: 5px;
	color: white;
	background-color: #0099FF;
}