body {
  background-image: url(../img/06.jpg);
}

.containerS {
  width: 950px;
}

#teste {
  position: relative;
  height: 90px;
}

#imgProfile {
  width: 80px;
  position: absolute;
}

#imgProfile img {
	width: 80px;
}

#msgWelcome {
  margin-left: 90px;
}

#msgWelcome > p{
  position: absolute;
  margin: 0px;  
  top:60px;
  color: #fff;
}

#button {
  border-radius: 5px;
  margin: 0px;
  position: absolute;
  right: 15px;
  top: 60px;
  color: #0099FF;
}

table, th, td {
    border: 1px solid #111;
    border-collapse: collapse;
    text-align: center;
    width: 900px;
    margin-top: 10px;
    background-color: #696969;
    margin: auto;
}