body {
	background-image: url(../img/02.jpg);    
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-size: 1288px 800px;

	font-family: 'Roboto', sans-serif;
	color: white;
	position: relative;
}

h3{
	text-align: center;
	text-decoration: underline;
	color: #0099FF;
	font-size: 28px;
}

#recipiente h2, p{
	text-align: center;
}

header{
	background-color: #333;
	display: flex;
	padding: 1em;
	text-align: center;
	color: white;
	margin-top: -8px;
	margin-left: -8px;
	margin-right: -8px;
}

header a{
	flex:1;
	padding: 0.5em;
	color: #0099FF;
	font-weight: bold;
}

header a:hover{
	text-decoration: underline;
}

header a:link, a:visited{
	text-decoration: none;
}

header a:first-child{
	flex:2;
}

#recipiente {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	background-color: #111;
	padding-top: 1px;
	padding-bottom: 1px;
	margin-bottom: -16px;

}

#recipiente h1{
	font-family: 'Roboto', sans-serif;
	text-align: center;
	font-size: 48px;
	color: #0099FF;
}

#recipiente h2{
	font-size: 26px;
}

#media img{ 
	display: inline;
	width: 320px;
}

.leftphoto{
	padding-left: 120px;
}

.rightphoto{
	padding-left: 20px;
}

#media img:last-child{
    padding-top: 20px;
}
.tournamenttitle{
	color: #0099FF;
	text-decoration: underline;
}

#descricao {
	border: 1px solid #000;
	text-align: justify;
}

#descricao h2 {
	font-family: 'Verdana';
	font-size: 24px;
	text-align: center;
}

#registro {
	margin-top: 2px;
	padding: 2px;
	border: 1px solid #000;
	/*width: 600px;*/
	position: relative;
}

form {
	display: table;
	padding: 10px;
	border: thin dotted #7e7e7e;
	background-color: #e1ceb8;
	text-align: center;
	margin: 10px auto;
	/*width: 250px;
	position: absolute;
	top: 0px;
	right: 10px;*/
}



div .tableRow {
	display: table-row;
	position: relative;
}

div.tableRow p {
	display: table-cell;
	vertical-align: top;
	padding: 3px;
}

div.tableRow p:first-child {
	text-align: right;
}

div #newUserRegister {
	border: 1px solid gray;
	position: relative;	
	margin: 10px auto;
	/*right: 10px;
	top: 0px;*/
}

div #newUserRegister p{
	margin: auto;
}

div #login {
	border: 1px solid blue;
}

img {
	width: 80px;
}

/*------------------RODAPÉ----------------------*/

footer {
  background-image: url(../img/fundo-rodape.png);
  clear: both;
}

footer{
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.social a {
  /* tamanho da imagem */
  height: 32px;
  width: 32px;

  /* image replacement */
  display: block;
  text-indent: -9999px;  
}

.social a[href*="facebook.com"] {
  background-image: url(../img/facebook.png);
}

.social a[href*="twitter.com"] {
  background-image: url(../img/twitter.png);
}

.social a[href*="plus.google.com"] {
  background-image: url(../img/googleplus.png);
}

.social li {
    float: left;
    margin-left: 25px;
}
