body {
	background-image: url(../img/04.jpg);
}

h2 {
	text-shadow: 1px 1px #fff;
}

.containerS > h1{
	text-align: center;
	margin: 0px;
	font-size: 20px;
}

#button {	
	margin-top: 15px;	
	height: 25px;
	color: #0099FF;	
}

.password > p > span {
	float: right;
	font-size: 12px;
	margin-top: 5px;
	font-family: 'Helvetica','Roboto',sans-serif;
}

.password > p > span >a {
	color: #fff;
}

.password > p > span > a:hover {
	color: #0099FF;
}

.tableRow #msgPass{
	color: #fff;
}