body {
  background-image: url(../img/06.jpg);
  background-repeat: no-repeat; 
  background-position: top center;
  background-attachment: fixed;
  background-size: 1288px;

  font-family: 'Roboto', sans-serif;
  color: white;
  position: relative;

}
header{
  background-color: #333;
  display: flex;
  padding: 1em;
  text-align: center;
  color: white;
  margin-top: -8px;
  margin-left: -8px;
  margin-right: -8px;
}

header a{
  flex:1;
  padding: 0.5em;
  color: #0099FF;
  font-weight: bold;
}

header a:hover{
  text-decoration: underline;
}

header a:link, a:visited{
  text-decoration: none;
}

header a:first-child{
  flex:2;
}

#recipiente {
  padding: 10px;
  margin: auto;
  width: 950px;
  box-sizing: border-box;
  background-color: #111; 
}

#teste {
  position: relative;
  height: 90px;
}

#imgProfile {
  width: 80px;
  position: absolute;
}

#imgProfile img {
	width: 80px;
}

#msgWelcome {
  margin-left: 90px;
}

#msgWelcome > p{
  position: absolute;
  margin: 0px;  
  top:60px;  
}

#button {
  border-radius: 5px;
  margin: 0px;
  position: absolute;
  right: 15px;
  top: 60px;
  color: #0099FF;
}

#button:hover{
  color: #0000CD;
}

table, th, td {
    border: 1px solid #111;
    border-collapse: collapse;
    text-align: center;
    width: 900px;
    margin-top: 10px;
    background-color: #696969;
    margin: auto;
}

/*------------------RODAPÉ----------------------*/

footer {
  background-image: url(../img/fundo-rodape.png);
  clear: both;
  padding: 20px 0
}

footer .container {
    position: relative;
    top: 0px;
}

.social {
    position: absolute;
    top: 12px;
    right: 20px;    
    list-style-type: none;

}

.social a {
  /* tamanho da imagem */
  height: 32px;
  width: 32px;

  /* image replacement */
  display: block;
  text-indent: -9999px;  
}

.social a[href*="facebook.com"] {
  background-image: url(../img/facebook.png);
}

.social a[href*="twitter.com"] {
  background-image: url(../img/twitter.png);
}

.social a[href*="plus.google.com"] {
  background-image: url(../img/googleplus.png);
}

.social li {
    float: left;
    margin-left: 25px;
}

