form {
	width: 400px;
	margin: auto;
	box-sizing: border-box;
}

body{

	background-repeat: no-repeat;	
	background-position: top center;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Roboto';
}

header a:hover{
	text-decoration: underline;
	color: #0099FF;
}

#login_header {
	margin-top: 20px;
	text-align: center;
}

#imgLogo {
	width: 100px;
}

h2,h1{
	color: #0099FF;
	font-family: 'Roboto', sans-serif;
}

h2 {
	font-size: 36px;
	margin: 0 auto;
	text-align: center;
	text-decoration: underline;
}

h3{
	text-align: center;
	text-decoration: underline;
	color: #0099FF;
	font-size: 28px;
}

a:link {
	text-decoration: none;
	color: #0099FF;
}

a:hover {
	text-decoration: underline;
}

#button:hover{
	/*color: #0000CD;*/
	background-color: #0066FF;
	border-color: #0066FF;
}

.containerS {
	padding: 20px;
	margin: auto;
	width: 450px;
	box-sizing: border-box;
	background-color: #111;
	border-radius: 5px;
}

.containerS p {
	margin: 0px;
	padding: 4px 0px 0px 0px;
	font-size: 16px;
}

.tableRow input{
	border-radius: 5px;
	width: 400px;
	height: 25px;
	font-size: 16px;
	color: #C0C0C0;
	box-sizing: border-box;
	text-align: center;
}

.info{
	border: 1px solid #ddd;
	border-radius: 5px;
	min-height: 40px;
	margin-bottom: 15px;

	background: rgba(255,255,255,0);
}