body {
	background-image: url(../img/04.jpg);
}

h2 {
	font-size: 36px;
	margin: 0 auto;
	text-align: center;
	text-shadow: 1px 1px #fff;
}

#button {	
	margin-top: 15px;	
	height: 25px;
	color: #0099FF;	
}