<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>My Championships</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="../css/style_header.css">
  <link rel="stylesheet" href="../css/style_codeCommon.css">
  <link rel="stylesheet" href="../css/style_championships.css">
  <link rel="stylesheet" href="../css/style_footer.css">
</head>
<body>

  <header>
      <nav>
        <a href="index">WSOD</a>
        <a href="index">Home</a>
        <a href="login">Log Out</a>
        <a href="championships">Championships</a>
      </nav>
    </header>

     <div class="container">
        <div class="containerS">

    	    <div id="teste">
    	        <div id="imgProfile">
    		    	<img src="../img/batman.jpg">
    	    	</div>

    	        <div id="msgWelcome">
    	            <p id="msg">Welcome Batman, the dark knight!</p>
    	        </div>

    	    	<div id="newChampioship">
    	      		<p><input id="button" type="submit" value="New Championship"  onclick=" window.open('../new_championship')"></input></p>
    	        </div>
    	    </div>

        	<div>
        		<table>
        			<tr>
        				<th colspan="4">Your Championships</th>
        			</tr>

        			<tr>
        				<th>Name</th>
        				<th>Nº of participants</th>
        				<th>% Completed</th>
        				<th>Winner</th>
        			</tr>

        			<tr>
        				<td>The National</td>
        				<td>8</td>
        				<td>100%</td>
        				<td>Team Secret</td>
        			</tr>

                    <tr>
                        <td>The BH Major</td>
                        <td>16</td>
                        <td>100%</td>
                        <td>Team Liquid</td>
                    </tr>

                    <tr>
                        <td>ESL TWO</td>
                        <td>4</td>
                        <td>100%</td>
                        <td>Team Secret</td>
                    </tr>

        			<tr>
        				<td>Nightmare League</td>
        				<td>16</td>
        				<td>53 %</td>
        				<td>-</td>
        			</tr>
        		</table>
        	</div>
        </div>
    </div>
    <footer>
      <div class="container-footer">
        <ul class="social">
          <li><a href="http://facebook.com/#">Facebook</a></li>
          <li><a href="http://twitter.com/#">Twitter</a></li>
          <li><a href="http://plus.google.com/#">Google+</a></li>
        </ul>
      </div>
    </footer>
</body>
</html>
