<!doctype html>
<html>
<head>
<meta charset="utf-8">
  <title>Login</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="../css/style_header.css">
  <link rel="stylesheet" href="../css/style_codeCommon.css">
  <link rel="stylesheet" href="../css/style_login.css">
  <link rel="stylesheet" href="../css/style_footer.css">
</head>
<body>

  <header>
      <nav>
        <a href="index">WSOD</a>
        <a href="index">Home</a>
        <a href="register">Sign Up</a>
        <a href="login">Log In</a>
        <a href="championships">Championships</a>
      </nav>
    </header>

    <div class="container">
        <div class="containerS">
	    	<h1>Log In</h1>
          	<form>
	          	<div class="tableRow">
					<p> <input type="text" name="name" value="" placeholder="Enter your username" class="info"> </p>
				</div>

				<div class="tableRow password">
					<p> <input type="password" name="password" value="" placeholder="Enter with a password" class="info"> </p>
				</div>

				<div class="tableRow">
	          		<input id="button" type="submit" name="theButton" value="Sign in" onclick=" window.open('../pages/championships.hbs')">
				</div>
          	</form>

          	<p id="newhere">New here? <a href="register.hbs">Create an account!</a></p>

    	</div>
    </div>

    <footer>
	  <div class="container-footer">
	    <ul class="social">
	      <li><a href="http://facebook.com/#">Facebook</a></li>
	      <li><a href="http://twitter.com/#">Twitter</a></li>
	      <li><a href="http://plus.google.com/#">Google+</a></li>
	    </ul>
	  </div>
	</footer>
</body>
</html>
