<!doctype html>
<html>
<head>
<meta charset="utf-8">
  <title>Register</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="../css/style_header.css">
  <link rel="stylesheet" href="../css/style_codeCommon.css">
  <link rel="stylesheet" href="../css/style_register.css">
  <link rel="stylesheet" href="../css/style_footer.css">
</head>
<body>

 	<header>
      <nav>
        <a href="index">WSOD</a>
        <a href="index">Home</a>
        <a href="register">Sign Up</a>
        <a href="login">Log In</a>
        <a href="championships">Championships</a>
      </nav>
    </header>

    <div class="container">
     	 <div class="containerS">
          	<form action="/signup" method="POST">
          		<div class="tableRow">
          			<h2>Join Us</h2>
          		</div>

				<div class="tableRow">
					<p> <input type="text" name="userName" value="" placeholder="Pick a username" class="info"> </p>
				</div>

				<div class="tableRow">
					<p> <input type="email" name="email" value="" placeholder="Enter a valid email address" class="info"> </p>
				</div>

				<div class="tableRow">
					<p> <input type="email" name="confirmEmail" value="" placeholder="Confirm the email address" class="info"> </p>
				</div>

				<div class="tableRow">
					<p> <input type="date" name="date" value="" placeholder="Age" class="info"> </p>
				</div>

				<div class="tableRow">
					<p> <input type="password" name="password" value="" placeholder="Enter with a password" class="info"> </p>
				</div>

				<div class="tableRow">
					<p> <input type="password" name="confirmPassword" value="" placeholder="Confirm your password" class="info"> </p>
				</div>

				<div class="tableRow teste">
	          		<p id="termCompromise"><a href="#">I agree with the terms.</a></p>
	          		<input id="check" type="checkbox" name="spice" value="">
	          		<button type="submit" id="button">Sign Up</button>
				</div>
          	</form>
    	</div>
    </div>
    <footer>
	  <div class="container-footer">
	    <ul class="social">
	      <li><a href="http://facebook.com/#">Facebook</a></li>
	      <li><a href="http://twitter.com/#">Twitter</a></li>
	      <li><a href="http://plus.google.com/#">Google+</a></li>
	    </ul>
	  </div>
	</footer>
</body>
</html>
